plain text

# Top level header
## second headers

`I am bit of code` I am normal text

    I am a block
    of
    code

In [1]:
!pwd

/home/jupyter/PT2050/PT2050-Institute-Materials-Testing/Using-Python-in-Jupyter-Notebooks-Materials

In [2]:
!ls

1-indexing-slicing-subsetting-dataframes.ipynb
20200804-Python-workshop.ipynb
2-combining-dataframes-with-pandas.ipynb
3-data-workflows-and-automation.ipynb
4-plotting-data.ipynb
5-connecting-to-databases.ipynb
Connecting-to-a-database-demo-notebook.ipynb
first_surveys_row.csv
species.csv
surveys.csv
top_survey_species_merged_inner.csv
Using-Python-in-Jupyter-notebook.ipynb

In [4]:
import pandas as pd

In [5]:
surveys_df = pd.read_csv('surveys.csv')

In [9]:
surveys_sub = surveys_df.head(10)

In [10]:
surveys_sub

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN

In [11]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [17]:
surveys_species = surveys_df['species_id']

In [18]:
type(surveys_species)

pandas.core.series.Series

In [19]:
type(surveys_df)

pandas.core.frame.DataFrame

## Subsetting Data using Criteria

In [23]:
# surveys_df.year

In [25]:
data_years = pd.unique(surveys_df.year)

In [27]:
print(data_years)

[1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990
 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002]

In [31]:
# surveys_df[surveys_df.year <= 1978]

In [34]:
surveys_sub.to_csv('my_new_file.csv')

In [35]:
!ls

1-indexing-slicing-subsetting-dataframes.ipynb
20200804-Python-workshop.ipynb
2-combining-dataframes-with-pandas.ipynb
3-data-workflows-and-automation.ipynb
4-plotting-data.ipynb
5-connecting-to-databases.ipynb
Connecting-to-a-database-demo-notebook.ipynb
first_surveys_row.csv
first_surveys_rows.csv
my_new_file.csv
species.csv
surveys.csv
top_survey_species_merged_inner.csv
Using-Python-in-Jupyter-notebook.ipynb